<%- include("header") -%>

<h2>How to use</h2>

<p>type a desired list name after the / singn in the URL and a new page will be created for your list. All data is saved and dynamicaly updated in a MongoDB database.</p>

<%- include("footer") -%>
